<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1 style="text-align: center; margin-bottom: 20px;">Welcome to Home Page, <%= userName %>!</h1><br><br>
    <div class="button-container">
        <form action="/logout" method="get">
            <button type="submit" class="submit-btn">Logout</button>
        </form>
    </div>
</body>
</html>